<button type="button" ng-click="showLoginForm = !showLoginForm" class="login-toggle" ng-show="account.loginToken && !showLoginForm">
  <span>{{account.userDetails.nickname}}</span>
</button>

<div class="login-content" ng-show="showLoginForm" >

  <button type="button" class="close-button" ng-click="showLoginForm = !showLoginForm">x</button>

  <div ng-show="account.loginToken">
    <h3 class="bottomless">Hello {{account.userDetails.nickname}}</h3>
    <ul class="un">
      <li>Role: {{account.role}}</li>
      <li><a href="https://dignityhope.org" class="full-width">View frontend</a></li>
      <li></li>
    </ul>
    <hr>
    <ul class="un">
      <li>
        <a href ng-click="showLoginForm = false; account.logout()" class="red">Logout</button>
      </li>
    </ul>

  </div>

</div>
