<div class="entrepreneur">

  <form name="updateEntrepreneurForm" ng-submit="updateEntrepreneurForm.$valid && entrepreneur.update()" class="row" novalidate>

    <div class="mainContent">

      <div class="formrow">
        <div class="formfield field-50">
          <input type="text" ng-model="entrepreneur.name" id="entrepreneurName" required>
          <label for="entrepreneurName">Name</label>
        </div>
        <div class="formfield field-50">
          <input type="date" ng-model="entrepreneur.dob" id="entrepreneurDob" required>
          <label for="entrepreneurDob">Date of birth</label>
        </div>
      </div>

      <div class="formrow">
        <div class="formfield field-100">
          <textarea id="entrepreneurDescription" ng-model="entrepreneur.description" rows="5" cols="80" required></textarea>
          <label for="entrepreneurDescription">Description</label>
        </div>
      </div>

      <div class="formrow">
        <div class="formfield field-50">
          <input type="text" ng-model="entrepreneur.city" id="entrepreneurCity" required>
          <label for="entrepreneurCity">City</label>
        </div>
        <div class="formfield field-50">
          <select id="entrepreneurCountry" ng-model="entrepreneur.countryId" required>
            <option ng-repeat="(key, country) in countries" ng-value="key*1">{{country}}</option>
          </select>
          <label for="entrepreneurCountry">Country</label>
        </div>
      </div>

      <div class="formrow">
        <div class="formfield field-50">
          <input type="number" ng-model="entrepreneur.amountNeeded" ng-model-options="{allowInvalid: true}" ng-min="entrepreneur.totalInvested" id="amountNeeded" required>
          <label for="amountNeeded">Amount needed</label>
        </div>
        <div class="formfield field-50">
          <select id="entrepreneurCountry" ng-model="entrepreneur.status" required>
            <option ng-repeat="status in statuses">{{status}}</option>
          </select>
          <label for="entrepreneurCountry">Status</label>
        </div>
      </div>

      <br>
      <div class="formrow">
        <div class="formfield field-100">
          <label for="">Image</label>
          <input type="file" id="fileInput">
        </div>
      </div>

      <br><br>
      <div style="height: 500px;">
        <img-crop
          image="entrepreneur.tempImage"
          result-image="entrepreneur.newImage"
          area-type="square"
          result-image-size="400"
          result-image-format="image/jpeg"
          result-image-quality="0.7"
        ></img-crop>
      </div>
      <!-- <img ng-src="{{entrepreneur.newImage}}" alt=""> -->
    </div>
    <div class="sidebar">

      <h2>Statistics</h2>
      <investment-progress data="entrepreneur"></investment-progress>
      <ul class="un">
        <li>Goal: <b>{{entrepreneur.amountNeeded | money}}</b></li>
        <li>Missing: <b>{{entrepreneur.amountNeeded - entrepreneur.totalInvested | money}}</b></li>
        <li>Funded: <b>{{100 / entrepreneur.amountNeeded * entrepreneur.totalInvested | number : 0}}%</b></li>
        <li>Investors: <b>{{entrepreneur.investors.length}}</b></li>
        <li>Location: <b>{{entrepreneur.city}} {{entrepreneur.countryName}}</b></li>
      </ul>
      <br>
      <button class="full-width" ng-show="entrepreneur.id">Update</button>
      <button class="full-width" ng-show="!entrepreneur.id">Add</button>
      <br><br>
      <a href ng-show="entrepreneur.id" ng-click="entrepreneur.reset()">Reset</a>
      <!-- <br><br>
      <label for="confirmDeletion">Allow deletion</label>
      <div class="formrow">
        <div class="formfield field-25">
          <input type="checkbox" id="confirmDeletion" class="toggle" ng-model="confirmDeletion">
        </div>
        <div class="formfield field-75">
          <button type="button" class="full-width red" ng-disabled="!confirmDeletion">Delete</button>
        </div>
      </div> -->

    </div>

  </form>

</div>
